
<div class="col-md-2 col-md-offset-5" id="top">
  <a class="btn btn-danger button" href = "/player1" role="button">Player 1</a>
  </br>
  <a class="btn btn-danger button" href = "/player2" role="button">Player 2</a>
  </div>
</div>
