<h3> <%= @message %> </h3>
<form action='/game/place-ship' method="post">
  <input text='text' name='coordinate'>
  <input type='radio' name='orientation' value="horizontally" id = "horizontally" checked> Horizontally
  <input type='radio' name='orientation' value="vertically" id = "vertically">Vertically
  <input type="submit" value="place ship">
</form>

<pre><%= @own_board %></pre>

<br>

<a class="btn btn-danger button" href='/game/fire'>Shoot ships</a>
